# Copy this file to secrets.env and fill in the values
# These values will be base64 encoded by Kustomize
db-root-password=dev_password
timescale-password=dev_password
rabbitmq-user=guest
rabbitmq-password=guest
superagi-api-key=
openai-api-key=
anthropic-api-key=
huggingface-token=
