# Copy this file to secrets.env and fill in the values
# These values will be base64 encoded by Kustomize
db-root-password=prod_password
timescale-password=prod_password
rabbitmq-user=prod_user
rabbitmq-password=prod_password
superagi-api-key=
openai-api-key=
anthropic-api-key=
huggingface-token=
